.auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 5% 0;
}

.auth__btn-group {
}

.auth__footer {
}
